@import "tailwindcss";

@layer base {
  body {
    color: #FEFCFD;
    background: #000505;
    font-family: Arial, Helvetica, sans-serif;
  }

  .alert {
    @apply p-2 rounded-md
  }

  .alert-success {
    @apply bg-green-200 border-2 border-green-400 text-green-800
  }

  .alert-error {
    @apply bg-red-200 border-2 border-red-400 text-red-800
  }

  button,
  [role="button"] {
    @apply bg-blue-700 text-white font-bold py-2 px-4 cursor-pointer hover:no-underline hover:bg-blue-600;
  }

  a {
    @apply text-blue-200 hover:underline;
  }

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  input {
    @apply w-full bg-blue-950 text-white placeholder:text-blue-200 ring-transparent border border-blue-400 transition-all ease-in disabled:opacity-50 disabled:pointer-events-none select-none px-2.5 py-2 ring shadow-sm rounded-lg duration-100 hover:border-blue-100 focus:border-blue-100;
  }

  input[type="file"] {
    @apply text-sm text-stone-500 file:mr-5 file:py-1 file:px-3 file:border-[1px] file:text-xs file:font-medium file:bg-stone-50 file:text-stone-700 hover:file:cursor-pointer hover:file:bg-blue-50 hover:file:text-blue-700;
  }

  /*
   * React Select style overrides
   * Ref: https://react-select.com/styles#the-classnameprefix-prop
   */

   .react-select-container {
    @apply cursor-pointer pointer-events-auto;
   }

  .react-select__control {
    @apply bg-blue-950 text-white placeholder:text-blue-200 ring-transparent border border-blue-400 transition-all ease-in disabled:opacity-50 disabled:pointer-events-none select-none px-2.5 py-2 ring shadow-sm rounded-lg duration-100 hover:border-blue-100 cursor-pointer pointer-events-auto;  
  }

  .react-select__control--is-focused {
    @apply border-blue-100;
  }

  .react-select__value-container {
    @apply cursor-pointer pointer-events-auto;
  }

  .react-select__menu {
    @apply bg-blue-950 text-white placeholder:text-blue-200 ring-transparent border border-blue-400 transition-all ease-in disabled:opacity-50 disabled:pointer-events-none select-none ring shadow-sm rounded-lg duration-100 hover:border-blue-100 focus:border-blue-100 mt-2 cursor-pointer pointer-events-auto;
  }

  .react-select__menu-list {
    @apply cursor-pointer pointer-events-auto;
  }

  .react-select__option {
    @apply hover:bg-blue-800 p-2 rounded-lg cursor-pointer pointer-events-auto;
  }

  .react-select__option--is-focused {
    @apply bg-blue-700;
  }

  .react-select__multi-value {
    @apply bg-blue-600 p-1 mr-2 rounded-md;
  }

  .react-select__multi-value__remove {
    @apply bg-blue-400 ml-2 px-1 rounded-md hover:bg-blue-300;
  }

  .react-select__indicator {}
  
  .react-select__clear-indicator {
    @apply ml-2 rounded-md hover:bg-blue-300 cursor-pointer;
  }
}
